# OS Release Information
# Generated during build for {{ variant }} variant

NAME="Fedora {{ distro | replace('fedora-', '') }} ({{ variant }} variant)"
VERSION="{{ distro | replace('fedora-', '') }} ({{ variant }})"
ID=fedora
ID_LIKE="rhel fedora"
VERSION_ID="{{ distro | replace('fedora-', '') }}"
PRETTY_NAME="Fedora {{ distro | replace('fedora-', '') }} ({{ variant }} variant)"
ANSI_COLOR="0;38;2;60;110;180"
LOGO=fedora-logo-icon
CPE_NAME="cpe:/o:fedoraproject:fedora:{{ distro | replace('fedora-', '') }}"
HOME_URL="https://fedoraproject.org/"
DOCUMENTATION_URL="https://docs.fedoraproject.org/"
SUPPORT_URL="https://fedoraproject.org/"
BUG_REPORT_URL="https://bugzilla.redhat.com/"
REDHAT_BUGZILLA_PRODUCT="Fedora"
REDHAT_BUGZILLA_PRODUCT_VERSION="{{ distro | replace('fedora-', '') }}"
REDHAT_SUPPORT_PRODUCT="Fedora"
REDHAT_SUPPORT_PRODUCT_VERSION="{{ distro | replace('fedora-', '') }}"
PRIVACY_POLICY_URL="https://fedoraproject.org/wiki/Legal:PrivacyPolicy"
VARIANT="{{ variant }}"
VARIANT_ID={{ variant }}
